<footer class="p-1">

        <div class="organizacion d-flex">
            <div class="w-25">
                <p class="text-center">Organiza</p>
                <div class="d-flex justify-content-center">
                    <img src="/assets/img/logo_municipalidad.avif" alt="logo_municipalidad">
                    <img src="/assets/img/logo_gchile.png" alt="logo_chile">
                </div>
            </div>
            
            <div class="w-50">
                <p class="text-center">Colaboradores destacados</p>
                <div class=" logo-marcas d-flex justify-content-center">
                    <img src="/assets/img/banco-estado.webp" alt="logo banco estado">
                    <img src="/assets/img/lf-cachantun.png" alt="logo cachantun">
                    <img src="/assets/img/lf-sparta.webp" alt="logo sparta">
                    <img src="/assets/img/lf-frutas.webp" alt="logo frutas">
                    <img src="/assets/img/lf-milo.webp" alt="logo milo">
                </div>
            </div>
            <div class="w-25">
                <p class="text-center">Visita nuestras redes</p>
                <div class="d-flex justify-content-center ">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-tiktok"></i></a>
                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                </div>
            </div>
        </div>
        

        <P>Página elaborada por Melody.Dev 🍊</P>

    </footer>