<nav class=" p-2 navbar navbar-expand-lg fs-5" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="/skaterpark"><img src="/assets/img/logo_skater.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="/skaterpark">Inicio</a>
                    <a class="nav-link" href="/skaterpark/bases">Bases</a>
                    <a class="nav-link" href="/skaterpark/jurado">Jurado</a>
                    <a class="nav-link" href="/skaterpark/participantes">Participantes</a>
                    <a class="nav-link" href="/skaterpark/contacto">Contacto</a>
                    <a class="nav-link" href="/skaterpark/login"><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
        </div>
    </nav>