<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>

    {{>navbar}}

    <header>
        <div class="img-header">
            <img class="img-chica" src="/assets/img/skater_chica.png" alt="skater_chica">
            <img class="img-chico" src="/assets/img/skater_chico.png" alt="skater_chico">
        </div>

        <div class="informacion-header">
            <h1>El deporte se vive en Santiago</h1>
            <p>¡Torneo Skater Park 2024!</p>

            <button class="mx-auto">inscribite</button>
            <p>Conoces las bases <a href="">aqui</a></p>
        </div>
    </header>

    <main>
        <section class="resumen-torneo ">
            <h2>¡Torneo Skater Park 2024!</h2>
            <div class="d-flex">
                <div class="informacion ">
                    <p>
                        Este año, nuestro torneo promete ser más emocionante que nunca. Los mejores skaters de la región se reunirán 
                        para demostrar sus habilidades en una competencia llena de adrenalina, trucos y creatividad. Pero eso no es todo: 
                        <strong>el ganador absoluto será el representante oficial en el prestigioso evento internacional 
                        <em>Game X 2025</em>.</strong>
                    </p>
                    <p>
                        Este es tu momento de brillar y representar a nuestra comunidad en un escenario global. ¿Tienes lo que se necesita 
                        para destacar entre los mejores? ¡Únete y demuestra tu talento!
                    </p>
                    <ul>
                        <li><strong>Fecha del torneo:</strong> Sábado, 15 de diciembre de 2024</li>
                        <li><strong>Lugar:</strong> Parque de Skate XYZ, Santiago</li>
                        <li><strong>Premio principal:</strong> Cupo directo para <em>Game X 2025</em></li>
                    </ul>
                    <p>
                        <strong>¡No te pierdas esta oportunidad única!</strong> Regístrate ahora y conviértete en una leyenda del skateboarding.
                    </p>
                </div>

                <img src="/assets/img/skater_1.jpg" alt="skater">

            </div>
        </section>
        


        
    </main>

    {{>footer}}
    {{>script}}
</body>

</html>