<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>navbar}}

<main>
    <div class="en-construccion container p-5">
        <img src="/assets/img/pagina_en_contruccion.jpg" alt="página en construccion">
    </div>
</main>
    



    {{>footer}}
    {{>script}}
</body>
</html>