<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>navbar}}

    <main>
        <h1>Conoce los participantes</h1>


        <div class="container row w-100 mx-auto g-0 participantes">

            <div class="card col-4 m-4" style="width: 30rem;">
                <img src="/assets/img/skater_1.jpg" class="card-img-top" alt="foto participante">
                <div class="card-body">
                    <h5 class="card-title">juanito el bandolero</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Años de experiencia: <span>3</span></li>
                    <li class="list-group-item">Especialidad: <span>Freestyle</span></li>
                    
                </ul>
            </div>

        </div>

    </main>

    {{>footer}}
    {{>script}}
</body>

</html>