//Colores

$primary_color_dark: #141b1d;
$primary_color_light: #1a6988;

$secondary_color_dark: #c84f38 ;
$secondary_color_light: #db8d2b;

$tertiary_color: #5ca111;

$black_color: #282733;
$white_color: #fef2e2;

//font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$primary_font: 'Poppins' ;
$secondary_font: 'Raleway';

//Tamaños de Media Queries

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1300px;

//!MIXIN

//responsive 
@mixin telefono {
    @media (min-width:$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width:$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:$desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width:$desktopXL) {
        @content;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}

@mixin boton($color, $ab, $iz) {
    letter-spacing: 0.4rem;
    padding: $ab $iz;
    border: none;
    color: $white_color;
    font-weight: bold;
    background-color: $color;
    text-transform: uppercase;

    &:hover{
            cursor: pointer;
            color: $black_color;
    }

}